@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>1. 58 billion paper cups are tossed out annually in the United States ALONE. 2. Every four paper cups manufactured equals one pound of C02 emissions (if one pound doesn't seem like that big of a deal, here’s why you should worry about it ). 3. 20 million trees are cut down to make paper cups every year.</p>
<p>Some staggering facts about disposable paper coffee cups: 1. 58 billion paper cups are tossed out annually in the United States ALONE. 2. Every four paper cups manufactured equals one pound of C02 emissions (if one pound doesn't seem like that big of a deal, here’s why you should worry about it).</p>
